<nav class="navbar ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Parcel On The Way</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <form class="d-flex" role="search">
       <a routerLink="/about" style="text-decoration: none ; color:darkslategray ; font-size: large;">About</a>
      </form>
    </div>
  </div>
</nav>



<div class="container">

            <div class="card">
  
                <div class="text-center" style="margin-top:-18px ">
                    <h1 style="color: darkslategray" >SIGN UP</h1>
                    <h6 style="color:  darkslategray"  >Register Yourself!!</h6>
                </div>
                <form >
                  <form [formGroup] ="signupValues"  (ngSubmit) = "signUp()">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label" style="color:darkslategray">E-mail address</label>
                      <input formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text"  style="color:darkslategray" >We'll never share your email with anyone else.</div>
                      <span class="text-danger" *ngIf="signupValues.controls['email'].dirty && signupValues.hasError( 'required' , 'email') ">*E-mail Id is required.</span>  
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword" class="form-label" style="color:darkslategray" >Password</label>
                      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword">
                      <span class="text-danger" *ngIf="signupValues.controls['password'].dirty && signupValues.hasError( 'required' , 'password') ">*Password is required.</span>  
                    </div>
                      
                    <button type="submit" [disabled] = "!signupValues.valid" class="btn btn-primary">SignUp</button>
                </form>
                </form>
               
                <a style="color:darkslategray ; text-align: end; margin-top : 8px ; text-decoration: none; " routerLink="/login"> Already registered ? Click here to Login!!</a>
            </div>
  </div>
  