<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/user">Parcel On The Way</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="waves-effect waves-light btn" aria-current="page" routerLink="/user/traveller">Traveller</a>
          </li>
        </ul>
        <form class="d-flex" >
            <a class="waves-effect waves-light btn" routerLink="/user/traveller/createTransaction">Create Your Transaction</a>
            <a class="waves-effect waves-light btn" routerLink="/user/traveller/orders" >Order Details</a>
            <a class="waves-effect waves-light btn" routerLink="/user/traveller/addTravellerDetails" >Add Traveller Details</a>
            <a class="waves-effect waves-light btn" routerLink="/user/traveller/travellerProfile" >Traveller Profile</a>
        </form>
      </div>
    </div>
  </nav>

  
  <div class="container" >
    <h1 style="text-align:center ; margin-bottom: 25px ;text-decoration: underline;color:
     darkslategray ;margin-top:15px;" > Your List</h1>
  </div>


  
  <!-- Notification for no employees -->
<div class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No Travel!</h4>
    <p>No Travel were found. Create Your First Transaction.</p>
  </div>
</div>
  
 