<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/user">Parcel On The Way</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="waves-effect waves-light btn" aria-current="page" routerLink="/user">Home</a>
          </li>
        </ul>
        <form class="d-flex" >
            <button class="waves-effect waves-light btn" routerLink="/user/traveller">Traveller</button>
            <button class="waves-effect waves-light btn" routerLink="/user/addUser" id="addBtn"  *ngIf=this.btnVisible  >Add User</button>
            <button class="waves-effect waves-light btn" routerLink="/user/profile" *ngIf=!this.btnVisible >Profile</button>
            <button class="waves-effect waves-light btn" (click)="logOut()">Log Out</button>
        </form>
      </div>
    </div>
  </nav>


  <div class="container" >
    
    
    <h3 style="text-align:center ; margin-bottom: 25px ;text-decoration: underline;color: darkslategray ;margin-top:15px;" > Traveller List</h3>
   
  </div>

  

  <!-- Notification for no employees -->
<div *ngIf="transactions.length <0"  class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO TRAVELLERS!</h4>
      <p>No Travellers were found.</p>
    </div>
  </div>

<!-- Search bar-->
<div class="container" id="search" style="margin-bottom: 30px;">
<form   *ngIf="transactions.length >0" id="searchForm">
  <div class="form-group">
      <div class="input-group" id="filterAll">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text"  class="form-control" name="searchString" placeholder="Search for any Field" [(ngModel)]="searchString">
      </div>
  </div>
</form>

</div>
  <!-- Table of Travellers-->
  <div   *ngIf="transactions.length >0"class="container"> 
     
    <div  class="row " style="overflow-y:scroll; height: 500;">
     
				<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" >
					<thead>
						<tr>
							<th>Start Location</th>
							<th>End Location</th>
							<th>Start Time</th>
							<th>Means of Transport</th>
							<th>Available Space</th>
							<th>Details</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Start Location</th>
							<th>End Location</th>
							<th>Delivery Date</th>
							<th>Means of Transport</th>
							<th>Available Space</th>
							<th>Details</th>
						</tr>
					</tfoot>
          
					<tbody>
						<tr *ngFor="let transaction of transactions | filterAll:searchString" >
							<td>{{transaction.startLocation | titlecase}}</td>
							<td>{{transaction.endLocation | titlecase}}</td>
							<td>{{transaction.deliverDate | date:'dd-MM-yyyy'}} <sub> ( Time:{{transaction.startTime}} )</sub> </td>
              <td>{{transaction.vehicleType}}</td>
              <td>{{transaction.availableSpace | titlecase}}</td>
              <td> <button (click)="seeDetails([transaction.travellerId,transaction.vehicleNo, transaction.transactionId])">Details</button></td>
						</tr>
          </tbody>
          
				</table>
        </div>
        </div>
        