<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/user">Parcel On The Way</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="waves-effect waves-light btn" aria-current="page" routerLink="/user">Home</a>
          </li>
        </ul>
        <form class="d-flex" >
            <button class="waves-effect waves-light btn" routerLink="/user/traveller">Traveller</button>
            <button class="waves-effect waves-light btn" routerLink="/user/addUser" id="addBtn"  *ngIf=this.btnVisible  >Add User</button>
            <button class="waves-effect waves-light btn" routerLink="/user/profile" *ngIf=!this.btnVisible >Profile</button>
            <button class="waves-effect waves-light btn" (click)="logOut()">Log Out</button>
        </form>
      </div>
    </div>
  </nav>


  <div class="container" >
    
    <button style="margin-left:46% ; margin-top: 20px;" type="button" class="btn btn-light btn-lg" routerLink="/user/search">Search</button>

    <h3 style="text-align:center ; margin-bottom: 25px ;text-decoration: underline;color: darkslategray ;margin-top:15px;" > Traveller List</h3>
   
  </div>

  <div *ngFor="let transaction of transactions">
    <ul>
      <li> startLocation :{{ transaction.startLocation}}</li>
      <li> Destination:{{ transaction.endLocation}}</li>
      
      <li> Date of Delivery{{ transaction.deliverDate | date:'yyyy-MM-dd'}}</li>
      <li> StartTime {{ transaction.startTime }}</li>
      
    </ul>
   
 </div>

  <!-- Notification for no employees -->
<div class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO TRAVELLERS!</h4>
      <p>No Travellers were found.</p>
    </div>
  </div>