
.navbar{
    background-color: lightseagreen;
}

ul{
    overflow:hidden;
    }
li{   text-align: center;
    border: 1px solid black;
    display:inline-block;
    }

.scrollit {
        overflow:scroll;
        height:100px;
    }
.search {
        margin-bottom: 100px;
        height: 200px;
        width: 50%;
        border-radius: 15px;
        background-color: powderblue;
 } 

 tr:hover {
    background-color: #a5f8e3;
  }
 
 th, td {
    border: 1px solid black;
    
    text-align: center;
  }
 
 table {
    border-radius:6px;
 }