<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/user">Parcel On The Way</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="waves-effect waves-light btn" aria-current="page" routerLink="/user/traveller">Traveller</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


  <div class="container">
  
        <h1 style="text-align:center">Fill traveller Details</h1>
    <form class="row g-3" [formGroup] ="formValues" (ngSubmit)="addTraveller()" >
      <div class="col-md-12" >
        <label for="inputAadhar" class="form-label">Aadhar Number</label>
        <input formControlName="aadharno" type="text" class="form-control" id="inputAadhar">
        <button type="submit" [disabled] = "!formValues.valid" class="btn btn-primary" style="margin:15px 45%" >Save</button>
      </div>
    </form>
        <hr>
    <form  class="row g-3" [formGroup] ="vehicleValues" (ngSubmit)="addVehicle()" >
        <h5 style="text-align:center ; text-decoration: underline;" >Add Your Vehicle Information</h5>
        <div class="col-md-3">
            <label for="inputT" class="form-label">Vehicle Name</label>
            <input type="text" class="form-control" formControlName="vehicleType" id="inputT">
        </div>

      <div class="col-md-3">
          <label for="inputV" class="form-label">Vehicle Number</label>
          <input type="text" class="form-control" formControlName="vehicleNo" id="inputV">
      </div>
      <div class="col-md-3">
          <label for="inputS" class="form-label">Available space</label>
          <input type="text" class="form-control" formControlName="availableSpace" id="inputS">
      </div>

      <div class="col-md-3" style="margin-top:50px">
          <button type="submit" [disabled] = "!vehicleValues.valid" class="btn btn-success">Add Vehicle Info.</button>
      </div>
      <button type="button" class="btn btn-primary" routerLink="/user/traveller" style="margin-top:30px ; "  >Back</button>
  </form>  
</div>


