
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/user">Parcel On The Way</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="waves-effect waves-light btn" aria-current="page" routerLink="/user">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <form class="row g-3">
        <h1 style="text-align:center">Search Travel </h1>
        <div class="col-md-4">
            <label for="input4" class="form-label">Starting Point</label>
            <input type="text" class="form-control" id="input4">
        </div>
        <div class="col-md-4">
            <label for="input5" class="form-label">Destination</label>
            <input type="text" class="form-control" id="input5">
        </div>
        <div class="col-md-4">
            <label for="inputdatee" class="form-label">Date</label>
            <input type="datetime-local" class="form-control" id="inputDatee" placeholder="Date">
        </div>
        <div class="col-12" style="text-align:center ; margin-top: 30px;">
            <button type="button" class="btn btn-primary ">Search</button>
            <button type="button" class="btn btn-primary" routerLink="/user" style="margin-left:20px">Back</button>
        </div>
        <div class="col-12" style="text-align:center ; margin-top: 30px;">
           
        </div>
    </form>

</div>