<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/user">Parcel On The Way</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="waves-effect waves-light btn" aria-current="page" routerLink="/user/traveller">Traveller</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <form class="row g-3">
        <h1 style="text-align:center">Your details as a traveller</h1>
        <div class="col-md-4">
            <label for="input4" class="form-label">First Name</label>
            <input type="text" class="form-control" id="input4">
        </div>
        <div class="col-md-4">
            <label for="input5" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="input5">
        </div>
        <div class="col-md-4">
            <label for="formGroupExampleInput" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="formGroupExampleInput">
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" class="form-select">
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi">Delhi</option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Puducherry">Puducherry</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
            <label for="inputPincode" class="form-label">Pincode</label>
            <input type="text" class="form-control" id="inputPincode">
        </div>
        <div class="col-6">
            <label for="inputAddress2" class="form-label">Landmark</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder=" Street Number ,Apartment or Floor">
        </div>
      
        <div class="col-md-6">
            <label for="inputRating" class="form-label">Rating</label>
            <input type="text" class="form-control" id="inputRating">
        </div>
        <hr>
        <div class="col-md-6">
            <label for="inputAadhar" class="form-label">Aadhar Number</label>
            <input type="text" class="form-control" id="inputAadhar">
        </div>
       
        <div class="col-md-3" style="text-align:center ; margin-top: 50px;">
            <button type="button" class="btn btn-success">Edit Aadhar No.</button>
        </div>

        <hr>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Vehicle Name</th>
                <th scope="col">Vehicle Number</th>
                <th scope="col">Available Space</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
        </table>
    </form>

</div>


  
